BASE_URL=http://localhost
APP_PORT=8081
MONGO_URI=mongodb://root:example@localhost:27017/kaca?retryWrites=true&serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256
JWT_SECRET=EgZjaHJvbWUyBggAEEUYOTIHCAEQABiABDIHCAIQABiABDIICAMQABgWGB4yCAgEEAAYFhge
